body {
	padding: 1em;
}

.key {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 4px 4px;
    float: left;
    height: 180px;
    margin: 0 2px 2px 0;
    position: relative;
    width: 50px;
}


.key.black1:after {
    left: -20px;
}
.key.black:after {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0 #555555, 2px 2px 0 #555555;
    content: "";
    display: block;
    height: 117px;
    left: -16px;
    position: absolute;
    top: -2px;
    width: 32px;
}
.key.black {
    margin: 0;
    width: 0;
    z-index: 2;
}

.key.pressed, .key:active {
    background: none repeat scroll 0 0 #F4F3F3;
    box-shadow: 3px 2px 3px #999999 inset, -3px 2px 3px #999999 inset;
}

.key.black.pressed:after, .key.black:active:after {
    background: none repeat scroll 0 0 #545353;
    box-shadow: 3px 2px 3px #444 inset, -3px 2px 3px #444 inset;
}

p {
	text-align: center;
}

#piano {
	background: gray;
	height: 180px;
	width: 1095px;
	border: 2px solid black;
	border-radius: 0 0 4px 4px;
    overflow: hidden;
    padding: 2px 0 0 2px;
    margin: 10px auto;
}

#chord {
	text-shadow: 0 1px 1px #1F1206;
	font-size: 100px;
    letter-spacing: -2px;
    line-height: 1;
    font-weight: bold;
    color: purple;
    text-align: center;
}